body {
    font-family: Arial;
    background: #e5ddd5;
    margin: 0;
    padding: 0;
}

#chat-container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
}

#messages {
    flex: 1;
    padding: 10px;
    overflow-y: scroll;
}

.message {
    background: #dcf8c6;
    padding: 8px 10px;
    margin: 8px 0;
    border-radius: 6px;
    width: fit-content;
}

#input-area {
    display: flex;
    border-top: 1px solid #ccc;
}

#messageInput {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    background: #128c7e;
    color: white;
    cursor: pointer;
}
